<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Image Upload</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style2.css')}}">
</head>
<body style="background-image:url({{url_for('static',filename='images/pexels-karolina-grabowska-4021769.jpg')}});background-size: cover; overflow:hidden">
<section class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">Lung Cancer Detection</a>
               </div>

               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="{{url_for('index')}}" class="smoothScroll">Home</a></li>
                         <li><a href="{{url_for('about')}}" class="smoothScroll">About Us</a></li>
                         <li><a href="{{url_for('RelatedArticles')}}" class="smoothScroll">Related Articles</a></li>
                         <li><a href="{{url_for('contact')}}" class="smoothScroll">Contact</a></li>
                         <li class="uploadbtn" ><a href="{{url_for('info')}}">Upload CT</a></li>
                    </ul>
               </div>

          </div>
     </section>
    <form method="post" action="/upload" enctype="multipart/form-data">
          <input type="file" name="file" onclick="onclicking()" autocomplete="off" required multiple >

       <button type="submit" >Upload</button>
        {% if normal%}
        <p  class=" a1" id="demo" >Our System predict that there is a probability of 93% that  <span style="color:green">The slice doesn't contain A Cancerous Nodule</span> </p>
        {% endif%}
          {% if cancer%}
        <p class=" a1" id="dem" >Our System predict that there is a probability of 93% that <span style="color:red">The slice contains A Cancerous Nodule</span> </p>
        {% endif%}
    </form>
<script >
    function onclicking(){
    const element = document.getElementById("demo");
    const element2 = document.getElementById("dem");
    if(element)
    {element.remove();}
    else
    {element2.remove();}

    }
</script>
</body>

</html>